<h1>Listing Articles</h1>

<% @articles.each do |article| %>

<%= article.title %>
<%= article.description %>

<%= link_to 'Edit', edit_article_path(article) %>
<%= link_to 'Show', article %>
<%= link_to 'Delete', article_path(article), method: :delete,
			data: { confirm: 'Are you sure?' } %>

<br>

<% end %>
<br>
<%= link_to 'New article', new_article_path %>
